body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* Section Top Header  */
.top-header {
  display: flex;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 100%;
}
.half-width h1 {
  font-size: 4em;
  color: #575151;
  font-weight: 700;
  margin: 0;
}
.top-header .header-content p {
  margin-bottom: 50px;
  color: #333;
}
.header-content {
  margin: 300px 150px;
}
.header-content p {
  font-size: 25px;
}
#top-banner-btn {
  margin-top: 50px;
}
.header-img {
  margin: 100px 0;
}
.skip {
  color: rgb(241, 106, 82);
}
.linear-gradient-btn {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    rgb(247, 179, 54),
    rgb(238, 72, 43)
  );
  color: white;
  font-size: 20px;
  padding: 25px 50px;
  border-radius: 50px;
}

/* Section About Me  */
.about-me {
  display: flex;
  background-image: url('images/shapes/7.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.about-me-img img {
  width: 50%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.about-me-content {
  margin: 5%;
  margin-right: 5%;
}
.about-me-content h1 {
  font-size: 50px;
  color: rgb(110, 106, 106);
}
.about-me-content p {
  padding-top: 40px;
  padding-bottom: 80px;
  font-size: 25px;
}

/* Section Recipies */
.recipies {
  margin-top: 5%;
}
.recipies-content {
  text-align: center;
}
.recipies-content h1 {
  font-size: 50px;
  color: rgb(110, 106, 106);
}
.recipies-content p {
  font-size: 20px;
}
.recipies-img {
  display: flex;
  margin-top: 3%;
  margin-left: 10%;
  padding-right: 50px;
}
.recipies-img img {
  width: 100%;
}
.recipies-img h1 {
  font-size: 30px;
}
.recipies-img p {
  font-size: 20px;
}
.img-content {
  box-shadow: 0 0 10px #ddd;
  border-radius: 20px;
  margin-right: 80px;
  padding: 20px;
  align-items: center;
}

/* Section Subscriber */
.subscriber {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 10px #ddd;
  border-radius: 20px;
  margin: 100px 170px;
  padding: 30px 0;
}
.subscriber h1 {
  font-size: 50px;
}

/* Section Footer */
footer {
  background: #000;
  height: 300px;
}
.footer-content {
  text-align: center;
  color: #fff;
  padding: 50px 0;
}
.footer-content h1 {
  font-size: 35px;
  font-weight: 600;
}
.footer-content p {
  font-size: 20px;
}
.network {
  color: rgb(99, 97, 97);
}

.food-content {
  display: flex;
}
.food-section {
  margin-top: 100px;
}
.food-content img {
  width: 50%;
  height: 50%;
}

.food-content h1 {
  text-align: center;
  margin: 10% 20px;
}
